compiler:
   - gcc
before_install:
   - export CXX="g++-4.9"
   - export CC="g++-4.9"
   - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
   - sudo apt-get update -qq
   - sudo apt-get install -qq $CXX
language: erlang
otp_release:
  - 17.1
  - 17.0
  - R16B02
  - R15B
script: "rebar co && rebar eunit && rebar ct"
