compiler:
   - gcc
before_install:
   - export CXX="g++-4.9"
   - export CC="g++-4.9"
   - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
   - sudo apt-get update -qq
   - sudo apt-get install -qq $CXX libboost-all-dev
   - git clone --recursive https://github.com/boostorg/boost.git modular-boost >clone.log
   - cd modular-boost
   - ./bootstrap.sh
   - ./b2 headers
language: erlang
otp_release:
  - 17.1
  - 17.0
script: "rebar co && rebar eunit && rebar ct"
