before_install:
   - sudo apt-get update -qq
   - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
   - sudo apt-get install -qq g++-4.8
   - export CXX="g++-4.8"
language: erlang
otp_release:
  - 17.1
  - 17.0
  - R16B02
  - R15B
script: "rebar co && rebar eunit && rebar ct"
