%% vim: ts=4 sw=4 et ft=erlang
{sub_dirs, [ "rel" ]}.

{require_otp_vsn, "R15|R16|17"}.

{cover_enabled, true}.

{cover_print_enabled, true}.

{erl_opts, [debug_info ]}.

{lib_dirs, ["deps","."]}.

{deps, [
    {gproc,         ".*",   {git, "git://github.com/uwiger/gproc",          {branch, master}}},
    {meck,          ".*",   {git, "https://github.com/eproxus/meck.git",    {branch,master}}},
    {eixx,          "",     {git, "https://github.com/saleyn/eixx.git",     {branch,master}},[raw]}
    %{edown,         ".*",   {git, "git://github.com/uwiger/edown",          {branch, master}}}
]}.

%Testing
{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose]}.
{ct_log_dir,"test/logs"}.
{ct_extra_params,"-cover test/coverspec"}.


%Cleanup
{clean_files, [".eunit/*",".*~","*~","*/*~","*/*.beam","ebin/*.app","*/erl_crash.dump"]}.

%Port building in rebar.config.script

%Docs
{edoc_opts, [{overview,     "src/overview.edoc"},
                   {title,        "Liberl - Erlang utility library"},
                   %{includes,     ["include"]},
                   %{def,          {vsn, git}},
                   {stylesheet_file, "src/edoc.css"},
                   {app_default,  "http://www.erlang.org/doc/man"}]}.

%%{edoc_opts, [{doclet, edown_doclet},
%%              {source_path, ["src", "test"]},
%%              {stylesheet, ""},
%%              {image, ""},
%%            {app_default,"http://www.erl  ang.org/doc/man"}]}.
                                            
                                            
